.animation-item-container {
    display: flex;
    flex-direction: column; // Stack the image and text vertically
    align-items: center; // Center content horizontally (optional)
    width: 80%; // Ensure the container takes full width
    // margin-left: 230px;

    .animation-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;


        img {
            width: 100%; // Image will take up the full width of the container
            height: auto; // Maintain aspect ratio
            object-fit: cover; // Ensures the image covers the available space
        }

        p {
            width: 100%;
            font-size: calc(1rem + ((1vw - 3.29px) * 1.2601));
            font-weight: 500;
            line-height: calc(1.4rem + ((1vw - 3.29px) * 2.0342));
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);


        }

        span {
            color: rgba(207, 221, 47, 1);
            text-transform: uppercase;



        }



    }

    .story-gif-container {
        // position: relative;
        height: 100vh;

        .story-gif-pic-container {
            position: absolute;
            left: 0;
            z-index: 1;
            clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 85%);

            .story-gif-pic {
                left: 0;
            }
        }

        .story-gif-back {
            position: absolute;
            z-index: 0;
        }
    }
}

@media (max-width: 1400px) {
    .animation-item-container {
        margin: 0;
        width: 100%;

        .animation-item-content p {
            margin-top: 100px;
        }
    }
}