.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('/images/img6.png'); // Use absolute path, omit 'public'
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(99, 66, 231, 1);
  .contact-us-section-content{
    display: flex;
    align-items: center;
    max-width: 90%;
  }


  .contact-left {
    flex: 1;
    padding-right: 2rem;
    color: rgba(255, 255, 255, 1);
    

    h4 {
      font-family: Restora;
      font-size: 50px;
      font-style: italic;
      font-weight: 100;
      line-height: 63.25px;
      text-align: left;
      
    }

    h2 {
      font-family: Akzidenz-Grotesk Pro;
      font-size: 56px;
      font-weight: 700;
      line-height: 54.88px;
      text-align: left;
      
    }

    @media (max-width: 768px) {
      padding-right: 0;

      h2 {
        font-size: 2.5rem;
      }
    }
  }

  .contact-right {
    flex: 1;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 60px;
    padding: 2.5rem;
    max-width: 450px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: #333;

      
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      input {
        font-size: 1rem;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        border: none;
        outline: none;
        transition: border-color 0.3s;
        background-color: unset;
        border-bottom: 1px solid rgba(15, 17, 21, 1);

        &:focus {
          border-color: #6b4acc;
        }
      }




      button {
        background: none;
        padding: 0.75rem;
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        border-radius: 60px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background: rgba(230, 241, 103, 1);
        margin-top: 50px;

        &:hover {
          background-color: #5a3ab1; // Darker purple on hover
        }
      }
    }

    @media (max-width: 768px) {
      padding: 2rem;
      max-width: 100%;
    }
  }

  @media (max-width: 1400px) {
    .contact-us-section-content{
      align-items: center;
      flex-direction: column;
      max-width: 90%;
    }
    .contact-left{
      margin-bottom: 40px;
      h4{
        font-family: Restora;
        font-size: 25px;
        font-style: italic;
        font-weight: 100;
        line-height: 31.62px;
        text-align: left;
        
      }
      h2{
        font-family: Akzidenz-Grotesk Pro;
        font-size: 30px;
        font-weight: 700;
        line-height: 29.4px;
        text-align: left;
        
      }
    }
  }
}