.faq-section {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9; // Light background color for the section
  text-align: center;
  position: relative;
  background-image: url('/images/img5.png'); // Use absolute path, omit 'public'
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(99, 66, 231, 1);
  align-items: center;
  // This will loop the images for an infinite scroll effect


  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }

  .faq-list {
    max-width: 800px;
    margin: 0 auto;

    .faq-item {
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 1rem;
      padding: 1.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s ease;

      &.open {
        background-color: #e6e6f5;
      }

      .faq-question {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;

        .faq-icon {
          font-size: 1.5rem;
          font-weight: bold;
          transition: transform 0.3s ease;
        }
      }

      .faq-answer {
        margin-top: 1rem;
        font-size: 1rem;
        color: #555;
      }
    }

    @media (max-width: 768px) {
      .faq-item {
        padding: 1rem;
      }

      .faq-question {
        font-size: 1.1rem;

        .faq-icon {
          font-size: 1.3rem;
        }
      }

      .faq-answer {
        font-size: 0.9rem;
      }
    }
  }
}