.social-container {
    position: fixed;
    height: 100%;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;

  .social-content{
    width: 52px;
    height: 154px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 20px 0;
    border-radius: 0 30px  30px 0;
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  }
  