.films-blok-container {
    background-color: rgba(99, 66, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    .films-blok-content {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        border-radius: 60px;
        background: rgba(122, 91, 253, 1);
        padding: 20px 30px;
        max-width: 80%;
        position: relative;
    }

    .films-blok-picture {
        height: 567px;
        border-radius: 60px;
        overflow: hidden;
    }

    .films-blok-info {
        width: 40%;
        color: rgba(255, 255, 255, 1);

        h1 {
            font-family: Restora;
            font-size: 50px;
            font-style: italic;
            font-weight: 100;
            line-height: 63.25px;

        }

        h2 {
            font-family: Akzidenz-Grotesk Pro;
            font-size: 56px;
            font-weight: 700;
            line-height: 54.88px;
            text-align: left;

        }

        p {
            font-family: Akzidenz-Grotesk Pro;
            font-size: 22px;
            font-weight: 400;
            line-height: 30.8px;
            text-align: left;

        }

    }
    .films-blok-icon{
        position: absolute;
        left: 15px;
        top: 15px;
    }
}