body {
  padding: 0;
  margin: 0;
}

section {
  padding: 200px 0;
}

.global-content {
  margin-top: 100vh;
  position: relative;
  z-index: 2;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none !important;
}

@font-face {
  font-family: "Akzidenz";
  src:
    url("./font/AkzidenzGroteskPro-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Akzidenz-bold";
  src:
    url("./font/AkzidenzGroteskPro-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Restora";
  src:
    url("./font/RestoraExtraLight.otf") format("otf");
}

@font-face {
  font-family: "Restora-italic";
  src:
    url("./font/RestoraThinItalic.otf") format("otf");
}


/* Apply the fonts to your project */
body {
  font-family: 'Akzidenz', sans-serif;
  /* Example: Apply Restora globally */
}

button{
  border: none;
  background: transparent;
  outline: none;
}


@media (max-width: 1400px) {
  .block-kontent {
    max-width: 90%;
    width: 100%;
  }
  section {
    padding: 50px 0;
  }
}

.asd{
  background-color: red;
  height: 1440px;

  position: fixed;
  width: 100vw;
}

.App{
  position: relative;
  width: 100%;
  height: 100vh;
}