.founder-blok-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/img3.png'); // Use absolute path, omit 'public'
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(99, 66, 231, 1);


  .founder-blok-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    max-width: 80%;
    width: 100%;
    border-radius: 60px;
    padding: 30px 30px;
    gap: 30px;

    .founder-blok-picture {
      position: relative;

      .founder-add-icon {
        position: absolute;

        bottom: 30px;
        right: 30px;

        max-width: min-content;
        cursor: pointer;

        img {
          width: calc(2.6875rem + ((1vw - 3.29px) * 5.4005));
          height: calc(2.6875rem + ((1vw - 3.29px) * 5.4005));
        }
      }
    }

  }

  .founder-blok-info {
    h1 {
      font-size: calc(1.125rem + ((1vw - 3.29px) * 1.0801));
      line-height: calc(1.4375rem + ((1vw - 3.29px) * 1.3501));
      font-weight: 900;
    }

    h2 {
      font-size: calc(0.8125rem + ((1vw - 3.29px) * 1.3501));
      line-height: calc(0.40625rem + ((1vw - 3.29px) * 1.3951));
      font-weight: 400;

    }

    p {
      font-size: calc(1rem + ((1vw - 3.29px) * 1.4401));
      line-height: calc(1.0625rem + ((1vw - 3.29px) * 1.6202));
      font-weight: 400;
      max-width: 519px;
    }

  }

  .founder-blok-icon {
    position: absolute;
    right: 30px;
    top: 30px;


  }


}


@media (max-width: 1400px) {
  .founder-blok-container {
    padding: 40px 16px;;

    .founder-blok-icon {
      top: 24px;
      right: 24px;
    }

    .founder-blok-icon img {
      width: 45px;
    }

    .founder-blok-content {
      flex-direction: column;
      padding: 60px 0 32px 0;
      max-width: 100%;

      .founder-add-icon {

        bottom: 24px !important;
        right: 76px !important;

        img {
          width: 44px;
          height: 44px;
        }
      }

      .founder-blok-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 54px;

        .founder-blok-picture-back {
          width: 100%;
          height: auto;
        }
      }

      .founder-blok-info {
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

}